<!-- <html>
    <head>
        <h1>Title Block</h1>
    </head>
    
    <head>
        <h1>Small Blocking</h1>
    </head>
</html> -->


<!-- <html>
    <head>
        <h1>Emergency block is good</h1>

    </head>

</html> -->
<!-- <html>
    <head>
        <h1>I love myself and which is good</h1>
    </head>
</html> -->
<!-- 
<html>
    <head>
        <h1>Akshay Shivaji Patil Indian</h1>
    </head>
</html> -->
<!-- <html>
    <head>
        <title>Page Title</title>
    </head>
        <body>
        <h1>Order Win the Game</h1>
        <p>Payal Raichura</p>
        </body>
    
</html> -->

<!-- <html>
    <head>
        <title>Page No.1</title>

    </head>

    <body>
        <h1>Payal Raichura got placed in Capgiemni with 12LPA</h1>
        <p>Akshay Patil got placed in Amdocx with 14LPA.I am going to join the company</p>
    </body>
</html> -->

<!-- <html>
    <head>
        <title>Title Block</title>
    </head>
    <body>
    <h1>I am Akshay Patil</h1>
    <br>Amitrao</br>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <title>Page just for testing purpose</title>
    <body>
        <h1>Akshay is Such a Briliant Boys</h1>
        <p>Define the paragraph</p>
        <a href="https://stackoverflow.com/questions/19189813/setting-django-up-to-use-mysql">Download</a>
    </body>
</html> -->

<!-- <!DOCTYPE html>
<html>
    <title>Welcome to the our website.!!!!!!!</title>
    <body>
        <h1>Resume</h1>
        <h2>Candidate Name:<h3>Mr. Akshay </h3></h2>
        <a href="https://mail.google.com/mail/u/0/#label/Python/FMfcgzGlkjTgpVtSbBHrlzlQRtNBlsfp">Drive link is here</a>
    </body>
</html> -->

<!DOCTYPE html>
<html>
    <title>Akshay PAtil Bank</title>
    <!-- <body>Click below images.</body> -->

    <body>
    <a href="https://www.facebook.com/">Go to facebook</a><br>
    <a href="https://www.instagram.com/">Go to instagram</a><br>
    <marquee><img src="207-9518.JPG" width="600" height="500">image </img></marquee>
    <marquee>piston piston phakpuk phakpuk</marquee>
    </body>
</html>